<h1>Picture Creation</h1>

<p> <% @p = Picture.new %></p>
<p> <% @p.caption = params[:caption] %></p>
<p> <% @p.source = params[:source] %></p>
<p> <% @p.save %></p>
<p> <%=params[:caption] %> picture has been added</p>
<a href="http://localhost:3000/all_pictures">Back to all pictures</a>