<h1>Picture Details</h1>
<div>
	<p>
		<%= image_tag(@picture.source, :width => 200, :class => "img-rounded") %>
	</p>
</div>

<div>
	<p> 
		<%= @picture[:caption]%>
		
	</p>
	<p>
		<%= link_to("Delete this picture", picture_url(@picture.id), :class => "btn btn-danger", :method => "delete") %>
		<%= link_to("Back to all pictures", pictures_url, :class => "btn btn-primary") %>
	</p>
</div>


